{% extends 'layout.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="features">
        <h1>{{ title }}</h1>
        <p>Лучшие вакансии Вашего региона</p>
        <a href="{% url 'news_pagination' %}"><button class="btn btn-warning">Найти вакансию</button></a>

        {% for el in values %}
            {% if el == 'hello' %}
                <p>{{ el|upper }}</p>
            {% endif %}
        {% endfor %}

        {% for el in obj %}
            <p>{{ el }}</p>
        {% endfor %}
    </div>
{% endblock %}