{% extends 'layout.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="features">
        <h1>{{ title }}</h1>
        {% if request.user.is_authenticated %}
        <h3>{{ request.user }}</h3>
        <a class="user-case" href="{% url 'logout' %}">Выйти</a>
        {% endif %}
        <p>Лучшие вакансии Вашего региона</p>
        <a href="{% url 'news_home' %}"><button class="btn btn-warning">Найти вакансию</button></a>

        {% for el in values %}
            {% if el == 'hello' %}
                <p>{{ el|upper }}</p>
            {% endif %}
        {% endfor %}

        {% for el in obj %}
            <p>{{ el }}</p>
        {% endfor %}
    </div>
{% endblock %}