{% extends 'layout.html' %}

{% block title %}Новые вакансии{% endblock %}

{% block content %}
    <div class="features">
        <h1>Новые вакансии</h1>
        {% if news %}
            {% for el in page_object %}
                <div class="alert alert-warning">
                    <a class="alerto" href="{% url 'news_details' el.id %}"><h3>{{ el.title|upper }}</h3></a>
                    <p>{{ el.anons }} {{el.salary}}</p>
                    <a href="{% url 'news_details' el.id %}" class="btn btn-warning">Подробнее</a>
                </div>
            {% endfor %}
        {% else %}
            <p>Новых вакансий нет</p>
        {% endif %}

        {% if page_object.has_other_pages %}
        <nav class="list-pages">
            <ul>
                {% if page_object.has_previous %}
                <li class="page-num">
                    <a href="?page={{ page_object.previous_page_number }}">&lt;</a>
                </li>
                {% endif %}
                {% for p in page_object.paginator.page_range %}
                {% if page_object.number == p %}
                <li class="page-num page-num-selected">{{ p }}</li>
                {% elif p >= page_object.number|add:-2 and p <= page_object.number|add:2 %}
                <li class="page-num">
                    <a href="?page={{ p }}">{{ p }}</a>
                </li>
                {% endif %}
                {% endfor %}
                {% if page_object.has_next %}
                <li class="page-num">
                    <a href="?page={{ page_object.next_page_number }}">&gt;</a>
                </li>
                {% endif %}
            </ul>
        </nav>
        {% endif %}
    </div>
{% endblock %}