{% extends 'layout.html' %}

{% block title %}Новые вакансии{% endblock %}

{% block content %}
    <div class="features">
        <h1>Новые вакансии</h1>
        {% if news %}
            {% for el in page_object %}
                <div class="alert alert-warning">
                    <a class="alerto" href="{% url 'news_details' el.id %}"><h3>{{ el.title|upper }}</h3></a>
                    <p>{{ el.anons }} {{el.salary}}</p>
                    <a href="{% url 'news_details' el.id %}" class="btn btn-warning">Подробнее</a>
                </div>
            {% endfor %}
        {% else %}
            <p>Новостей нет</p>
        {% endif %}
        <!-- {% for contact in page_object %}
            <p>{{ contact }}</p>
        {% endfor%} -->
        <nav class="list-pages">
            <ul>
                {% for p in page_object.paginator.page_range %}
                {% if page_object.number == p %}
                <li class="page-num page-num-selected">
                {% else %}
                <li class="page-num">
                    <a href="?page={{ p }}">{{ p }}</a>
                </li>
                {% endif %}
                {% endfor %}
            </ul>
        </nav>
    </div>
{% endblock %}